.ataques {
    gap: 20px;
    display: flex;
}

#ataque-enemigo,
#ataque-jugador {
    color: rgb(176, 87, 141);
    font-size: 12px;
}

body {
    color: rgb(255, 242, 217);
    background-color: rgb(196, 224, 1);
    background-image: url('../images/ai-bg-pets.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    font-family: 'Press Start 2P';
    margin: 0;
    padding: 0;
    width: 95%;
}

.botones-ataques {
    background-color: rgb(176, 87, 141, 0.7);
    border: transparent 2px solid;
    color: rgb(255, 228, 214);
    font-size: 9px;
    height: 50px;
    padding: 5px;
    width: 100px;
}

.botones-ataques:hover {
    background-color: rgb(176, 87, 141);
    padding: 0px;
}

button {
    background-color: rgb(255, 242, 217, 0.7);
    border: none;
    border-radius: 15px;
    box-sizing: border-box;
    font-family: 'Press Start 2P';
    font-size: 16px;
    height: 60px;
    margin-top: 30px 0px 0px 0px;
    padding: 0px;
    width: 80%;
}

button:hover {
    background-color: #ead7bb;
    color: #113946;
}

.caja-puntaje {
    align-items: center;
    background-color: rgb(255, 228, 214, 0.9);
    color: rgb(255, 246, 246);
    display: flex;
    flex-direction: column;
    padding: 20px 30px 20px 30px;
    width: 100px;
}

#caja-resultados {
    align-items: center;
    display: flex;
    gap: 15px;
    height: auto;
    justify-content: center;
    margin: 20px auto;
    padding: 15px;
    width: 100%;
}

.caja-resultados {
    align-items: center;
    background-color: rgb(217, 136, 185, 0.7);
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    width: 80%;
}

#caja-resultados .caja-puntaje h2 {
    color: rgb(176, 87, 141);
    font-size: 18px;
    margin: 5px;
    margin-bottom: 30px;
}

.caja-victorias {
    display: flex;
    text-align: center;
}

.caja-victorias p {
    color: rgb(176, 87, 141);
}

h2 {
    color: #fff2d9;
    font-size: 30px;
    font-weight: 100;
    margin-left: 25px;
    margin-top: 50px;
}

input {
    display: none;
}

input[type="radio"]:checked+label {
    background-color: #113946;
    border: 2px solid #ffffff;
}

label {
    align-items: center;
    background-color: rgb(17, 57, 70, 0.7);
    border-radius: 20px;
    box-sizing: border-box;
    color: rgb(255, 242, 217);
    display: flex;
    font-family: 'Press Start 2P';
    font-size: 20px;
    height: 100px;
    justify-content: center;
    margin: 15px;
    padding: 20px;
    width: 85%;
}

#mascota-enemigo,
#mascota-jugador,
img {
    width: 80px;
}

#mensaje-ataques p {
    color: rgb(255, 228, 214);
}

#reiniciarButton {
    align-items: center;
    background-color: rgb(217, 136, 185);
    color: rgb(176, 87, 141);
    justify-content: center;
    margin: 15px;
}

#resultado {
    color: rgb(255, 228, 214);
}

#seleccionar-ataque h2 {
    color: rgb(255, 246, 246);
}

.seccion-mascotas {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.seccion-mascotas label img {
    width: 100px;
}

.seccion-mascotas label img:hover {
    width: 150px;
}

#seleccionar-ataque {
    align-items: center;
    flex-direction: column;
}

#seleccionar-mascota {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.texto-pets {
    color: #e3dfb8;
}

.titulo-ataque {
    color: rgb(255, 228, 214);
}

.titulo-principal {
    align-items: center;
    width: 85%;
}

.titulo-principal h1 {
    color: #ffffff;
    font-size: 50px;
    margin-left: 25px;
}

/* Canvas */

#ver-mapa {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#mapa {
    border: 2px solid white;
}

@media screen and (max-width: 768px) {
    h2 {
        font-size: 45px;
        text-align: center;
    }

    .botones-ataques {
        font-size: 16px;
        width: 200px;
    }

    .ataques {
        flex-direction: column;
    }
}

@media screen and (max-width: 1024px) {
    h2 {
        font-size: 55px;
    }
}

@media screen and (min-width: 1200px) {

    .botones-ataques {
        font-size: 18px;
        height: auto;
        margin: 10px;
        padding: 15px;
        width: 250px;
    }

    button {
        margin: 20px;
        width: 300px;
    }

    .caja-puntaje {
        width: 180px
    }

    .caja-resultados {
        background-color: rgb(217, 136, 185, 0.6);
        font-size: 20px;
        width: 500px;
    }

    #caja-resultados {
        gap: 25px;
    }

    .titulo-principal h1 {
        font-size: 100px;
        margin-top: 120px;
    }

    h2 {
        font-size: 55px;
    }

    label {
        height: 200px;
        width: 330px;
    }

    .seccion-mascotas label img {
        width: 150px;
    }

    .seccion-mascotas label img:hover {
        width: 180px;
    }

    .titulo-principal {
        margin: 10px auto;
        text-align: center;
    }

    .seccion-mascotas {
        flex-direction: row;
    }
}